@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Optional: Adjusts the space between cards */
}

.container .card {
    max-width: 100%;
    height: 150px;
    margin: auto;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: #f5f5dc;
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 20px); /* Three cards per row, minus the gap */
    box-sizing: border-box;
}

.container .card:hover {
    height: 420px;
}

.container .card .imgContainer {
    position: relative;
    width: 190px;
    height: 100px;
    top: -100px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .imgContainer img {
    max-width: 190px;
    border-radius: 4px;
}

.container .card .content {
    position: relative;
    margin-top: -100px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    opacity: 0;
    transition: 0.1s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.container .card .content a.search-product-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.container .card .content a.search-product-link:hover {
    background-color: #0056b3;
}

@media (max-width: 330px) {
    .container .card .imgContainer {
        left: -2px;
    }
}


@media (max-width: 1024px) {
    .container .card {
        flex: 1 1 calc(50% - 20px); /* Two cards per row on medium screens */
    }
}

@media (max-width: 768px) {
    .container .card {
        flex: 1 1 100%; /* One card per row on small screens */
    }
}
